<h1>Имя пользователя: @ViewData["User"]</h1>

@foreach (var dialogId in @ViewBag.Dialogs) 
{
	<p>Id диалога: @dialogId</p>
	@foreach (var message in @ViewBag.Messages)
	{
		if (@message.DialogId == @dialogId)
		{
			<p>@message.Text</p>
		}
	}
}